<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Twitterでログイン', '/auth/twitter' %></li>
    <li><%= link_to 'ログアウト', '/signout_twitter' %></li>
  </ul>
</div>
<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%= yield %>
</div>

<% @user.each do |user| %>
  <%= user.nickname %>
  <% @client.home_timeline.each do |timeline| %>
    <%= timeline.text %><br>
    <%= timeline.user.name %><br>
  <% end %>
<% end %>
